#top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav.navbar.navbar-default {
  z-index: 100;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8.5vh;
}

#nav-text {
  color: white;
}

#name {
  font-size: 3rem;
  font-family: 'Anonymous Pro', 'Poiret One', cursive, sans-serif;
  text-align: center;
  /*color: rgb(175, 88, 89);*/
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

#role {
  font-size: 1.5em;
  color: rgb(175, 88, 89);
  text-align: center;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

#message {
  color: white;
  position: absolute;
  bottom: 90px;
}

div#message-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.reposition-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

div.nav-icons {
  position: absolute;
  right: 0;
}

div.nav-icons.flex-direction {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 0;
  bottom: 0;
}

.flex-direction img.icon-block {
  height: 30px;
  width: auto;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
}

img.icon-block {
  height: 30px;
  width: auto;
  margin-right: 5px;
  border-radius: 6px;
  cursor: pointer;
}

img.icon-block.blank {
  margin-right: -15px;
  cursor: pointer;
}

#resume-label {
  color: rgb(105,162,215);
  position: fixed;
  margin-top: 1.75vh;
  margin-left: 0.5vh;
  position: absolute;
}

a.navbar-brand img {
  height: 150%;
  width: auto;
}

#down-arrow {
  height: 30px;
  width: auto;
}
