body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section div.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TOP SECTION */

mark img {
  height: 200px;
  width: auto;
}

/* NAV */

nav.navbar.navbar-default {
  z-index: 100;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.reposition-nav {
  display: flex;
  align-items: center;
}

div.nav-icons {
  position: fixed;
  /*bottom: 0;*/
  right: 0;
  /*display: flex;
  align-items: flex-end;
  justify-content: flex-end;*/
}

.btn.btn-default {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1em;
  font-family: cursive;
  padding: 8px 10px;
}

a.navbar-brand img {
  height: 150%;
  width: auto;
}

#down-arrow {
  height: 30px;
  width: auto;
}

mark {
  height: 500px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('images/logo-last-test.png');
  background-color: transparent;
  background-size: cover;
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -moz-animation: fadein 5s; /* Firefox */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera */
  animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* PROJECTS */

section.projects  div img {
  position: absolute;
  bottom: -100px;
}

.mockup-img {
  height: 400px;
  width: auto;
  margin: 20px 10px;
}

.mockup-logo {
  height: 80px;
  width: auto;
  margin-right: 15px;
}

/* EDUCATION */

section.education.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.education div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
